{% extends 'base.html' %}
{% block content %}
<h2> Правила бронирования</h2>
<ul>
    <li>Минимальный срок аренды — 1 сутки (24 часа).</li>
    <li>Нельзя забронировать два отеля на одни и те же даты под одним аккаунтом.</li>
    <li><strong>Важно:</strong> Если вы не заехали в отель до даты начала бронирования(проживания), система автоматически отменяет бронь и возвращает средства, вычитая из них цену за ночь проживания (статус "Не заехал").</li>
    <li>Отмена бронирования доступна в личном кабинете.</li>
    <li>Нужно писать русскими буквами. Ищет приоритетно по городу, но если его нет, то по принципу находится ли такая бувка в адресе.</li>

</ul>
{% endblock %}
